# Python
__pycache__/
*.py[cod]
*$py.class
.Python
.venv/
.venv-temp/
site-packages/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
build/
*.spec

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Python便携版目录
python/

# 微信机器人相关
wcf/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store
.AppleDouble
.LSOverride

# 其他
*.bak
*.tmp
*.temp 